<tr th:if="${kpi != null}" style="background-color: #dedddd" id="kpi" th:fragment="copy">
    <td>
    <td>
    <td>
        <!--        <div style="margin-right: 20px;font-weight: bold" th:if="*{!@periodUtils.isBeforeLocaleDate(period)}">-->
        <div style="margin-right: 20px;font-weight: bold" th:if="*{participationRate != 0}">

            <div th:text="${'&#8721;'+participationRate}"></div>
        </div>

    </td>
    <td>
    <td>
    <td>
    <td style="font-weight: bold" th:text="'Kpi: '+${kpi}">
    <td>

</tr>