<html>
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="/assets/css/custom-table.css">
    <link rel="stylesheet" href="/assets/css/custom-inputs.css">
    <style>
        .form-group {
            margin-bottom: 1rem;
            margin-left: 1rem;
            display: flex;
            flex-direction: column;
        }

        label {
            display: block;
            margin-bottom: 0.5rem;
        }

        input, textarea {
            width: 98%;
            min-height: 200px;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style>
</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="/js/personalArea.js"></script>
<script src="/js/cookies.js"></script>

<div th:if="${employee.user.role.name() =='ROLE_CURATOR'}">
    <div th:replace="~{navbarСurator :: copy}"></div>
</div>
<div th:if="${employee.user.role.name() == 'ROLE_USER'}">
    <div th:replace="~{navbarEmployee :: copy}"></div>
</div>
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Примечание к оценке</h4>
            </div>
            <div>
                <div>
                    <div class="form-group">
                        <textarea class="valid" name="note"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">
                        Окей
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="starter-template">
    <form action="#" th:action="@{my}"
          th:method="GET">
        <div class="row">

            <div style="margin-left: 18px;margin-top: 8px" class="col-md-4">
                <p>Полное имя:
                    <span style="font-weight: bold" th:text="${employee.fullName}"></span>
                </p>

            </div>
            <div class="col-md-3">
                <p>Период:
                    <select id="period" name="period" onchange="formChange()">
                        <option disabled selected>Выбрать период</option>
                        <option th:selected="${per.id == period.id}"
                                th:each="per: ${periods}" th:value="${per.id}"
                                th:text="${per}"></option>
                    </select>
                </p>
            </div>
        </div>
    </form>
    <table id="table">
        <thead>
        <tr>
            <th>План</th>
            <th>Факт</th>
            <th>Вес</th>
            <th>Показатель</th>
            <th>Период</th>
            <th>Сотрудник</th>
            <th>Куратор</th>
            <th>Индекс выполнения</th>
            <th>Взвешенная оценка</th>
            <th>Примечание</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="report: ${kpiReports}">
            <td th:text="${report.target.id}">
            <td th:text="${report.target.plan}">
            <td th:text="${#objects.nullSafe(report?.target?.mark?.actual, 'Not marked')}">
            <td th:text="${report.target.weight}">
            <td th:text="${report.executionIndex}">
            <td th:text="${report.weightFactor}">
            <td th:text="${report.target.indicator.name}">
            <td th:text="${report.target.period}">
            <td th:text="${report.target.employee.fullName}">
            <td th:text="${report.target.curator.fullName}">
            <td>
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                    <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
                </svg>
            </td>
        </tr>
        <tr style="background-color: #dedddd">
            <td>
            <td>
            <td>
            <td>
            <td>
            <td th:text="'Kpi: '+${kpi}">
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>