<html>
<head>
    <meta charset="UTF-8">
    <title>Права</title>
    <link rel="stylesheet" href="/assets/css/custom-table.css">
    <link rel="stylesheet" href="/assets/css/custom-inputs.css">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/js/privilege/show.js"></script>
<script src="/js/init.js"></script>
<script src="/js/cookies.js"></script>
<div th:replace="~{navbarAdmin :: copy}"></div>
<div class="starter-template">
    <div class="row">
        <div style="margin-left: 18px;" class="col-md-4">
            <p>Сотрудник:
                <select id="employee" name="employee" onchange="formChange()">
                    <option selected disabled>Выберите сотрудника</option>
                    <option th:selected="${employee.id == empl.id}"
                            th:each="empl: ${employees}" th:value="${empl.id}"
                            th:text="${empl.fullName}"></option>
                </select>
            </p>
        </div>
        <div class="col">
            <p>Тип:
                <select id="type" name="type" onchange="formChange()">
                    <option selected disabled>Выберите тип</option>
                    <option th:value="com.example.kpimanagment.model.PrivilegeRead">Чтение</option>
                    <option th:value="com.example.kpimanagment.model.PrivilegeWrite">Запись</option>
                </select>
            </p>
        </div>
    </div>
    <div th:replace="~{notification :: copy}"></div>
    <table>
        <thead>
        <tr>
            <th>Куратор</th>
            <th>Сотрудник</th>
            <th th:name="typeHidden">Вес</th>
            <th>Операции</th>
        </tr>
        </thead>
        <tbody>

        <div th:replace="~{privilege/tableRaw :: copy}"></div>

        </tbody>

    </table>
    <button class="btn btn-info" onclick="addPrivilege()">Добавить запись</button>
    <!--    <span th:name="typeHidden">-->
    <!--          <button class="btn btn-success" style="margin-left: 12px" onclick="acceptChanges()">Принять изменения</button>-->
    <!--    </span>-->
    <!--    <span id="typeHidden">-->
    <button class="btn btn-info" style="margin-left: 12px" onclick="acceptChanges()">Сохранить изменения</button>
    <!--    </span>-->
    <!--    <span th:name="typeHidden">-->
    <!--    <button class="btn btn-success" style="margin-left: 12px"-->
    <!--            onclick="saveChanges()">-->
    <!--        Сохранить-->
    <!--    </button>-->
    <!--    </span>-->


</div>
</body>
</html>